{
  "env": {
    "browser": true,
    "node": true
  },
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "rules": {
    "semi": 0,
    "comma-dangle": 0,
    "react/prop-types": [2, {ignore: ["dispatch"]}],
    "no-console": 0
  },
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  }
}
